footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  color: black;
  background-color: #ffffff;
}

footer h2 {
  margin-left: 10%;
}
footer p {
  margin-left: 10%;
}

/* 반응형 , 창이 작아지면 아래의 내용  */
@media screen and (max-width: 768px) {
  /* 푸터 */
  footer {
    font-size: 15px;
  }
}
